.crystal-image {
    width: 100px;
}

button {
    border-color: none;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    background-color: #e9ecef;
}

span {
    color: #08bb2f;
    font-size: 25px;
}

.divCounterInfo {
    height: 204px;
    padding-top: 40px;
}



@media screen and (max-width: 767px) {  
    img {
        padding-bottom: 30px;
        width: 70px;
    }
}