.crystal-image {
    width: 100px;
}

button {
    border-color: none;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    background-color: #e9ecef;
}

span {
    color: #08bb2f;
    font-size: 25px;
}

/* media queries */
/* .crystal-div {
    padding-bottom: 35px;
} */

/* img {
    height: 80px;
} */